@page
@model DemoIdentity.Pages.Account.LoginModel
@{
}
<form method="post">

    <div >
        <label>Email</label>
        <input asp-for="Login.Email" type="email" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Login.Password" type="password" />
    </div>


    <button type="submit"> Ingresar</button>
</form>

