@page
@using DemoIdentity.Pages.Account;
@model DemoIdentity.Pages.Account.RegisterModel
@{
}

<div>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div>
            <label>Email</label>
            <input asp-for="Register.Email" />
        </div>

        <div>
            <label>Password</label>
            <input asp-for="Register.Password" type="password" />
        </div>

        <div>
            <label>Verificar Password</label>
            <input asp-for="Register.Password2" type="password" />
        </div>

        <div>
            <label>Nro Legajo</label>
            <input asp-for="Register.Legajo" />
        </div>


        <button type="submit"> Registrar</button>
    </form>


</div>

