@page
@using DemoIdentity.Identity;
@model DemoIdentity.Pages.Account.RolesModel
@{
    List<MyRol> MyRoles = ViewData["roles"] as List<MyRol>;
}

<div>
    <form method="post">
        <div>
            <label>Name</label>
            <input asp-for="Rol.Name" />
        </div>

        <div>
            <label>Seccion</label>
            <input asp-for="Rol.Seccion" />
        </div>

        <button type="submit"> Registrar</button>

    </form>
    <br />
    <table>
        @if(MyRoles == null || MyRoles.Count==0)
        {
            <tr>
                <td>
                    <h3>No hay roles</h3>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in MyRoles)
            {
                <tr>
                    <td>
                        <strong>@item.Name </strong> @item.Seccion
                    </td>
                </tr>
            }
            
        }
    </table>


</div>